[Desktop Entry]
Encoding=UTF-8
Name=sherlockholmescoin
Comment=sherlockholmescoin P2P Cryptocurrency
Comment[fr]=sherlockholmescoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=sherlockholmescoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/sherlockholmescoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/sherlockholmescoin128.png
MimeType=x-scheme-handler/sherlockholmescoin;
Categories=Office;
