#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_sherlockholmescoin
#build/sherlockholmescoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_sherlockholmescoin)

DEB_INSTALL_EXAMPLES_sherlockholmescoind += debian/examples/*
DEB_INSTALL_MANPAGES_sherlockholmescoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix sherlockholmescoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f sherlockholmescoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake sherlockholmescoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_sherlockholmescoin
	src/test_sherlockholmescoin

# Ensure wrapper is set executable
binary-post-install/sherlockholmescoind:
	chmod +x $(cdbs_curdestdir)usr/bin/sherlockholmescoind
binary-post-install/sherlockholmescoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/sherlockholmescoin-qt
